@import "./Helpers/Mixins";
@import "./Helpers/Variables";



@include query(sm){ ////max-width: 500px
  .spon_prev,.spon_next{
    display: none!important;
  }
  .slick-slide.slick-current.slick-active{
    display: flex!important;
    justify-content: center!important;
  }
}






