@import "./Helpers/Mixins";
@import "./Helpers/Variables";


@include query(xlg){ ////max-width: 1200px
  #main {
    .container{
      @include grid(g-i,1fr,auto,center,center);
    }
  }
}


@include query(lg){ ////max-width: 960px
  #main main button{
    width: 40% !important;
  }
}


@include query(sm){ ////max-width: 500px
  #main main button{
    width: 90% !important;
  }
  .spon_prev,.spon_next{
    display: none!important;
  }
  .slick-slide.slick-current.slick-active{
    display: flex!important;
    justify-content: center!important;
  }
}






