@import "Variables";
@import "Mixins";
//////////////////
body{
  margin: 0;
}
li{
  list-style-type: none;
}
p{
  margin: 0.5rem;
  line-height: 1.8;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  line-height: 1.8;
}
a{
  text-decoration: none;
  color: $dark;
}
::placeholder{
  font-size: 1rem;
}
/////////////////// buttons
%btn{
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 125px;
  height: 40px;
  color: #151515;
  border: none;
  cursor: pointer;
}
button.btn,a.btn{
  @extend %btn;
  &::before,&::after{
    --size:calc(100% + 15px);
    content: '';
    position: absolute;
    inset: 50% 0 0 50%;
    pointer-events: none;
    transition: scale 0.35s;
    translate: -50% -50%;
  }
  &::before{
    width: var(--size);
    height: 100%;
    border-top: 2px solid ;
    border-bottom: 2px solid ;
    scale: .25 1;
  }
  &::after{
    width: 99%;
    height: var(--size);
    border-right: 2px solid ;
    border-left: 2px solid ;
    scale: 1 .25;
  }
  &:hover::before,&:hover::after{
    opacity: 1;
    scale: 1;
    border-radius: 3px;
  }
}
a.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
button.border-dark,a.border-dark{
  &::before{
    border-top-color: $dark;
    border-bottom-color: $dark;
  }
  &::after{
    border-right-color: $dark;
    border-left-color: $dark;
  }
}

button.btn-sm,a.btn-sm{
  font-size: 0.9rem!important;
  width: 104px!important;
  height: 34px!important;
}
////////////////////// colors

.bg-primary{
  background: $primary!important;
}
.text-primary{
  color: $primary!important;
}
.bg-primary-op2{
  background: $primary_op2;
}
.text-primary-op2{
  color: $primary_op2;
}
.bg-info{
  background: $info!important;
}
.text-info{
  color: $info!important;
}
.bg-light{
  background: $light!important;
}
.text-light{
  color: $light!important;
}
.bg-success{
  background: $success;
}
.text-success{
  color: $success!important;
}
.text-muted{
  color: $secondary!important;
}
.bg-warning{
  background: $warning;
}
.text-warning{
  color: $warning!important;
}
///////////////////////////
.container{
  width: calc(100% - 15rem);
  margin: auto;
}
@include query(xlg){
  .container{
    width: calc(100% - 10rem);
  }
}
@include query(lg){
  .container{
    width: calc(100% - 5rem);
  }
}
@include query(md){
  .container{
    width: calc(100% - 2rem);
  }
}
@include query(sm){
  .container{
    width: 100%;
  }
}
///// margin
$m:0;$c:0;
@while($m < 7){
  .m-#{$c}{
    margin: $m+rem !important;
  }
  .p-#{$c}{
    padding: $m+rem !important;
  }
  .mx-#{$c}{
    margin-right: $m+rem !important;
    margin-left: $m+rem !important;
  }
  .px-#{$c}{
    padding-right: $m+rem !important;
    padding-left: $m+rem !important;
  }
  .my-#{$c}{
    margin-top: $m+rem !important;
    margin-bottom: $m+rem !important;
  }
  .py-#{$c}{
    padding-top: $m+rem !important;
    padding-bottom: $m+rem !important;
  }
  .mt-#{$c}{
    margin-top: $m+rem !important;
  }
  .pt-#{$c}{
    padding-top: $m+rem !important;
  }
  .mb-#{$c}{
    margin-bottom: $m+rem !important;
  }
  .pb-#{$c}{
    padding-bottom: $m+rem !important;
  }
  .mr-#{$c}{
    margin-right: $m+rem !important;
  }
  .pr-#{$c}{
    padding-right: $m+rem !important;
  }
  .ml-#{$c}{
    margin-left: $m+rem !important;
  }
  .pl-#{$c}{
    padding-left: $m+rem !important;
  }
  $m:$m + 0.25;
  $c:$c+1;
}
////////// line height
@for $lh from 0 through 10{
  .lh-#{$lh}{
    line-height: $lh !important;
  }
}
///////// font size
$fs:0.5;$of:1;
@while($fs < 8){
  .fs-#{$of}{
    font-size: $fs+rem!important;
  }
  $fs:$fs+0.5;
  $of:$of +1
}
.fs-09{
  font-size: 0.9rem!important;
}
//////// font wight
$fw:100;$cw:1;
@while($fw<1000){
  .fw-#{$cw}{
    font-weight: $fw!important;
  }
  $cw:$cw+1;
  $fw:$fw + 100
}
/////////// gap
$gp:0.5;$cg:1;
@while($cg < 10){
  .gap-#{$cg}{
    gap: $gp+rem;
  }
  $cg:$cg+1;
  $gp:$gp+0.5
}
///////// width
$wd:0.1;$cf:10;
@while($wd < 1.1){
  .w-#{$cf}{
    width: percentage($wd)  !important;
  }
  .h-#{$cf}{
    height: percentage($wd)!important;
  }
  $wd:$wd+0.1;
  $cf:$cf +10
}
//////////////////////// position
.relative{
  position: relative!important;
}
.absolute{
  position: absolute!important;
}
.top-0{
  top: 0!important;
}
.left-0{
  left: 0!important;
}
/////////// display flex
.d-flex{
  display: flex!important;
  display: -moz-flex!important;
  display: -webkit-flex!important;
  display: -o-flex!important;
  display: -ms-flex!important;
}
.flex-row{
  flex-direction:row !important;
  -webkit-flex-direction: row!important;
}
.flex-column{
  flex-direction:column !important;
  -webkit-flex-direction: column!important;
}
.flex-reverse{
  flex-direction:row-reverse !important;
  -webkit-flex-direction: row-reverse!important;
}
.justify-center{
  justify-content:center !important;
  -webkit-justify-content: center !important;
}
.justify-between{
  justify-content:space-between !important;
  -webkit-justify-content: space-between !important;
}
.justify-start{
  justify-content:start !important;
  -webkit-justify-content: flex-start !important;
}
.justify-end{
  justify-content:end !important;
  -webkit-justify-content: flex-end !important;
}
.align-center{
  align-items: center!important;
  -webkit-align-items: center!important;
}
.align-start{
  align-items: start!important;
  -webkit-align-items: flex-start!important;
}
.align-end{
  align-items: end!important;
  -webkit-align-items: flex-end!important;
}
.d-none{
  display: none!important;
}
.d-block{
  display: block!important;
}
.d-inline-block{
  display: inline-block!important;
}
///////////////// display grid
.d-grid{
  display: grid!important;
  display: -moz-grid!important;
  display: -ms-grid!important;
}
@for $counter from 1 through 8{
  .grid-#{$counter}{
      grid-template-columns: repeat($counter,1fr) !important;
  }
  $counter:$counter+1
}
////////////////// media
@include query(sm){ ///// max-width:500px
  .d-sm-none{
    display: none!important;
  }
  .d-sm-block{
    display: block!important;
  }
  .d-sm-inline-block{
    display: inline-block!important;
  }
  .flex-sm-row{
    flex-direction:row !important;
    -webkit-flex-direction: row!important;
  }
  .flex-sm-column{
    flex-direction:row !important;
    -webkit-flex-direction: row!important;
  }
  .flex-sm-reverse{
    flex-direction:row-reverse !important;
    -webkit-flex-direction: row-reverse!important;
  }
  .justify-sm-center{
    justify-content:center !important;
    -webkit-justify-content: center !important;
  }
  .justify-sm-between{
    justify-content:space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .justify-sm-start{
    justify-content:start !important;
    -webkit-justify-content: flex-start !important;
  }
  .justify-sm-end{
    justify-content:end !important;
    -webkit-justify-content: flex-end !important;
  }
  .align-sm-center{
    align-items: center!important;
    -webkit-align-items: center!important;
  }
  .align-sm-start{
    align-items: start!important;
    -webkit-align-items: flex-start!important;
  }
  .align-sm-end{
    align-items: end!important;
    -webkit-align-items: flex-end!important;
  }
  @for $counter from 1 through 8{
    .grid-sm-#{$counter}{
      grid-template-columns: repeat($counter,1fr) !important;
    }
    $counter:$counter+1
  }

}
@include query(md){ ///// max-width:768px
  .d-md-none{
    display: none!important;
  }
  .d-md-block{
    display: block!important;
  }
  .d-md-inline-block{
    display: inline-block!important;
  }
  .flex-md-row{
    flex-direction:row !important;
    -webkit-flex-direction: row!important;
  }
  .flex-md-column{
    flex-direction:row !important;
    -webkit-flex-direction: row!important;
  }
  .flex-md-reverse{
    flex-direction:row-reverse !important;
    -webkit-flex-direction: row-reverse!important;
  }
  .justify-md-center{
    justify-content:center !important;
    -webkit-justify-content: center !important;
  }
  .justify-md-between{
    justify-content:space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .justify-md-start{
    justify-content:start !important;
    -webkit-justify-content: flex-start !important;
  }
  .justify-md-end{
    justify-content:end !important;
    -webkit-justify-content: flex-end !important;
  }
  .align-md-center{
    align-items: center!important;
    -webkit-align-items: center!important;
  }
  .align-md-start{
    align-items: start!important;
    -webkit-align-items: flex-start!important;
  }
  .align-md-end{
    align-items: end!important;
    -webkit-align-items: flex-end!important;
  }
  @for $counter from 1 through 8{
    .grid-md-#{$counter}{
      grid-template-columns: repeat($counter,1fr) !important;
    }
    $counter:$counter+1
  }
}


@include query(lg){ ///// max-width:960px
  .d-lg-none{
    display: none!important;
  }
  .d-lg-block{
    display: block!important;
  }
  .d-lg-inline-block{
    display: inline-block!important;
  }
  .flex-lg-row{
    flex-direction:row !important;
    -webkit-flex-direction: row!important;
  }
  .flex-lg-column{
    flex-direction:row !important;
    -webkit-flex-direction: row!important;
  }
  .flex-lg-reverse{
    flex-direction:row-reverse !important;
    -webkit-flex-direction: row-reverse!important;
  }
  .justify-lg-center{
    justify-content:center !important;
    -webkit-justify-content: center !important;
  }
  .justify-lg-between{
    justify-content:space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .justify-lg-start{
    justify-content:start !important;
    -webkit-justify-content: flex-start !important;
  }
  .justify-lg-end{
    justify-content:end !important;
    -webkit-justify-content: flex-end !important;
  }
  .align-lg-center{
    align-items: center!important;
    -webkit-align-items: center!important;
  }
  .align-lg-start{
    align-items: start!important;
    -webkit-align-items: flex-start!important;
  }
  .align-lg-end{
    align-items: end!important;
    -webkit-align-items: flex-end!important;
  }
  @for $counter from 1 through 8{
    .grid-lg-#{$counter}{
      grid-template-columns: repeat($counter,1fr)!important;
    }
    $counter:$counter+1
  }
}

@include query(xlg){ ///// max-width:1200px
  .d-xlg-none{
    display: none!important;
  }
  .d-xlg-block{
    display: block!important;
  }
  .d-xlg-inline-block{
    display: inline-block!important;
  }

  .flex-xlg-row{
    flex-direction:row !important;
    -webkit-flex-direction: row!important;
  }
  .flex-xlg-column{
    flex-direction:row !important;
    -webkit-flex-direction: row!important;
  }
  .flex-xlg-reverse{
    flex-direction:row-reverse !important;
    -webkit-flex-direction: row-reverse!important;
  }
  .justify-xlg-center{
    justify-content:center !important;
    -webkit-justify-content: center !important;
  }
  .justify-xlg-between{
    justify-content:space-between !important;
    -webkit-justify-content: space-between !important;
  }
  .justify-xlg-start{
    justify-content:start !important;
    -webkit-justify-content: flex-start !important;
  }
  .justify-xlg-end{
    justify-content:end !important;
    -webkit-justify-content: flex-end !important;
  }
  .align-xlg-center{
    align-items: center!important;
    -webkit-align-items: center!important;
  }
  .align-xlg-start{
    align-items: start!important;
    -webkit-align-items: flex-start!important;
  }
  .align-xlg-end{
    align-items: end!important;
    -webkit-align-items: flex-end!important;
  }
  @for $counter from 1 through 8{
    .grid-xlg-#{$counter}{
      grid-template-columns: repeat($counter,1fr);
    }
    $counter:$counter+1
  }
}
/////////////// hover
.blue_hover *,.blue_hover{
  @include transition(all 150ms linear);
}
.blue_hover:hover ,.blue_hover:hover *{
  color: $primary;
}

.yellow_hover *, .yellow_hover{
  @include transition(all 150ms linear);
}
.yellow_hover:hover *,.yellow_hover:hover{
  color: $warning!important;
  border-bottom:2px solid $warning!important;
}
/////////// cursor
.pointer{
  cursor: pointer;
}
////////////// input
input{
  border: none;
  outline: none;
  @include transition(all 150ms linear);
}
input.border-success{
  border-bottom: 2px solid rgba(87, 204, 153, 0.4);
  &:focus{
    border-bottom-color:$success ;
  }
}
//////////////////
.text-center{
  text-align: center!important;
}
///////////////
[x-cloak]{
  display: none!important;
}
//////////
.border-muted{
  border-bottom: 2px solid #ccc;
}
///////// divider
.divider{
  width: 100%;
  height: 2px;
  background: $secondary;
  margin: 0.3rem 0;
  opacity: 0.5;
}
////////////////// rotate
.rotate {
  i{
    @include transition(all 150ms linear);
  }
  &:hover i{
    @include transform(rotate(45deg));
  }
}
////////////// badge
.badge{
  display: inline-block;
  padding: 5px;
  @include border-radius(5px);
  color: $light!important;
  font-size: 0.8rem;
  font-weight: 700;
  margin: auto 0.5rem;
}