$primary:rgb(41,171,225);
$primary_op2:rgba(41,171,225,0.2);
$secondary:rgb(89, 93, 105);
$info:#f27059;
$success:#57cc99;
$warning:#f2a65a;
$success_op2:rgba(87,204,153,0.4);
$light:#fff;
$dark:#333;