@import "Variables";
@import "Mixins";
@import "Utilities";
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/slick-carousel/slick/slick";
/////////////////////////////
*{
  font-family: "Roboto Slab", sans-serif;
  box-sizing: border-box;
}
body{
  background: #fff;
}
/////////////////// top menu
#top_nav{
  .container{
    border-bottom: 2px solid rgba(203,216,255,0.84);
  }
  .left_side li {
    cursor: pointer;
    a{
      color: $secondary;
      font-size: 0.84rem;
      position: relative;
      z-index: 9999;
    }
    span{
      z-index: 1;
      height: 0;
      background: $primary_op2;
      @include transition(all 150ms linear);

    }
    &:hover {
      span{
        height: 100%;
      }
      a{
        color: $dark;
      }
    }
  }
  .dark_switcher{
    width: 50px;
    height: 14px;
    background: rgb(89, 93, 105);
    border-radius: 22px;
    cursor: pointer;
    i{
      position: absolute;
      top: -5px;
      left: 0;
      padding: 4px;
      @include border-radius(50%);
      @include box-shadow(0 1px 12px rgba(0,0,0,0.2));
      cursor: pointer;
      @include transition(all 130ms linear);

    }
    i.fa-sun{
      color: rgba(255,174,44,0.84);
      background: white;
    }
    i.changeToMoon{
      padding: 5px 7px;
      border-radius: 54%;
      background: $dark;
      color: white;
    }
  }
  .right_side{
    li{
      cursor: pointer;
      padding: 0.4rem 0.6rem;
      background: $secondary;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition(all 140ms linear);
      i{
        color: white;
      }
      &:hover{
        background: $primary;
      }
    }
    li:first-child{
      padding: 0.4rem 0.75rem!important;
    }

  }
}
i.changeToMoon::before{
  content: "\f186"!important;
}
@include keyFrame(rotate){
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(260deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
///////////////////////////////////// main menu
#main_menu{
  .menu_item{
    font-size: 0.9rem;
    font-weight: 500;
  }
  .brand_logo{
    cursor: pointer;
  }
  .canvas_menu{
    width: 30px;
    height: auto;
    gap: 0.3rem;
    @include transition(all 150ms linear);
    &:hover span{
      background: $primary;
    }
    span{
      height: 3px;
      background: $dark;
      border-radius: 15px;
      display: inline-block;
    }
    span:nth-child(odd){
      width: 100%;
    }
    span:nth-child(even){
      width: 50%;
    }
  }
  .search_bar{
    z-index: 99999;
    display: flex;
    width: 307px;
    height: 56px;
    right: -8px;
    background: $light;
    bottom: -71px;
    @include box-shadow(0 0 27px rgba(0,0,0,0.1));
    @include border-radius(9px);
  }
  .sub_menu{
    display: grid;
    width: 60vw;
    height: auto;
    z-index: 99999;
    top: 82px;
    background: $light;
    @include box-shadow(0 0 40px rgba(0,0,0,0.1));
    @include border-radius(6px);
  }
  .menu_items{
    z-index: 9999999;
  }
  .menu_items ul {
    height: 100%;
    li:first-child .sub_menu{
      left: -9rem;
      background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/news-bg.jpg") no-repeat center center/cover;
    }
    li:nth-child(2) .sub_menu{
      left: -3rem;
      width: 16vw;
    }
    li:nth-child(3) .sub_menu{
      left: -5rem;
      width: 18vw;
    }
    li:nth-child(4) .sub_menu{
      left: -34.45rem;
      width: 1023px ;
    }
    li.double_sub_menu ul{
      width: 16vw;
      background: $light;
      @include box-shadow(0 0 40px rgba(0,0,0,0.1));
      @include border-radius(6px);
      z-index: 99999;
      height: auto;
      right: -12.7rem;
      top: -3rem;
    }
    @media (max-width: 1250px) {
      right: -11.7rem!important;
    }
  }
}
///////////////////////// canvas
#canvas{
  overflow-y: auto;
  position: fixed;
  height: 100vh;
  width: 350px;
  top: 0;
  right: 0;
  background: $light;
  z-index: 99999;
  @include transform(translateX(1000px));
  @include transition(all 400ms linear);
  ul li a{
    font-size: 1.3rem;
  }
  .premium{
    border-radius: 5px;
  }
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  z-index: 999;
  width: 100%;
  height: 100%;
}
////////////////////////////////// trending part
#trending_news{
  .main_content{
    background: $primary_op2;
  }
}
////////////////////////////// main
#main {
  .container{
    @include grid(g,1.6fr 0.4fr,auto,center,center);
  }
  aside {
    h1{
      text-align: start;
    }

  }
  .followers{
    .facebook{
      background-color: #5d82d1;
      @include transition(all 150ms linear);
      color: $light;
      &:hover{
        background-color: #5378bf;
      }
    }
    .instagram{
      background:radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      color: $light;
    }
    .youtube{
      background: #ff0000;
      color: $light;
    }
  }

}
